@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
  --bg-color: #2c3333;
  --text-color: #cbe4de;
  --card-color: #faf9f6;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  box-shadow: 0px 0px 67px -6px rgba(0, 0, 0, 0.78);
  border-radius: 10px;
  gap: 0.5px;
}

.card__inside {
  background-color: var(--card-color);
  width: 31.25rem;
  height: 40.6rem;
  border: 2px solid var(--bg-color);
  border-radius: 10px;
}

.card__inside1 {
  background-color: var(--card-color);
  width: 31.25rem;
  height: 40.6rem;
  border: 2px solid var(--bg-color);
  border-radius: 10px;
  display: grid;
  place-items: center;
}

.card__content__text {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.card__content__tittle {
  font-family: 'Parisienne', cursive;
  font-size: 35px;
  color: #00425a;
  font-weight: 400;
}

.card__content__img {
  position: relative;
}

.card__content1,
.card-img {
  aspect-ratio: 5 / 7;
}

.card__content1,
.img__xl-card {
  width: 30vmin;
}

.card-img {
  aspect-ratio: 5 / 7;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  transition: transform 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}

.img__xl-card {
  width: 30vmin;
  border-radius: 1vmin;
}

.img__xl-card:nth-child(2) {
  background-image: url(../assets/big4.jpg);
  background-size: 100%;
  transform: translateX(-10%) rotate(-1deg);
}

.img__xl-card:nth-child(4) {
  background-image: url(../assets/big3opcional.jpg);
  background-size: 100%;
  transform: rotate(2deg);
}

.img__xl-card:nth-child(6) {
  background-image: url(../assets/big2.jpg);
  background-size: 100%;
  transform: translateX(-6%) rotate(-3deg);
}

.img__xl-card:nth-child(8) {
  background-image: url(../assets/big1.jpg);
  background-size: 100%;
  transform: translate(10%, 3%) rotate(5deg);
}

.img__sl-card {
  width: 12vmin;
  border-radius: 2vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}

.card__content__img:hover > .img__xl-card:nth-child(2) {
  transform: translate(-75%, 16%) rotate(-24deg);
}
.card__content__img:hover > .img__xl-card:nth-child(4) {
  transform: translate(-25%, 8%) rotate(-8deg);
}
.card__content__img:hover > .img__xl-card:nth-child(6) {
  transform: translate(25%, 8%) rotate(8deg);
}
.card__content__img:hover > .img__xl-card:nth-child(8) {
  transform: translate(75%, 16%) rotate(24deg);
}

.card__content__img:hover > .img__sl-card:nth-child(1) {
  background-image: url(../assets/little4.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translate(200%, -80%) rotate(-15deg);
}
.card__content__img:hover > .img__sl-card:nth-child(3) {
  background-image: url(../assets/little2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translate(200%, 300%) rotate(15deg);
}
.card__content__img:hover > .img__sl-card:nth-child(5) {
  background-image: url(../assets/little3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translate(-300%, -80%) rotate(15deg);
}
.card__content__img:hover > .img__sl-card:nth-child(7) {
  background-image: url(../assets/little1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translate(-200%, 300%) rotate(-15deg);
}

p {
  font-family: 'Special Elite', cursive;
  font-size: 25px;
  color: var(--bg-color);
  font-weight: 400;
}

.ps {
  margin-top: 100px;
}

.audio {
  width: 100%;
}

a {
  margin-left: 400px;
}

.btn-small {
  display: none;
}

@media screen and (max-width: 500px) {
  .card {
    margin: auto;
    flex-direction: column;
    width: 300px;
    height: 500px;
  }

  .card__inside1 {
    width: 300px;
    height: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
  }
  .card__inside {
    width: 300px;
    height: 50%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 0;
  }

  .card__content__tittle {
    font-size: 20px;
  }

  p {
    font-size: 10px;
  }

  .card__content__text {
    padding: 25px;
    gap: 5px;
  }

  .ps {
    margin-top: 10px;
  }

  a {
    margin-left: 250px;
  }

  .btn-small {
    display: block;
  }

  .btn-big {
    display: none;
  }
}
